/*===============================
=            font face          =
===============================*/

@font-face {
    font-family: 'ir_sans';
    src: url('font/IRANSansRegular.ttf') format('woff');
}

@font-face {
    font-family: 'ir_sans_b';
    src: url('font/IRANSansBold.ttf') format('woff');
}

@font-face {
    font-family: 'yekan_bakh';
    src: url('font/YekanBakh-Regular.ttf') format('woff');
}

* {
    font-family: 'ir_sans'!important;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}


/*===============================
=           CSS RESET           =
===============================*/

 :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

nav {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eb7308 !important;
    margin: 20px 0 !important;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

body {
    background: #141414!important;
    font-family: 'ir_sans'!important;
    direction: rtl;
}

html,
body {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none!important;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

li {
    list-style: none;
}

 :focus {
    outline: none;
}

.clear {
    clear: both;
}

ul {
    padding: 0 !important;
}

.p0 {
    padding: 0!important;
}

.p-r {
    padding-right: 5px !important;
}

.p-l {
    padding-left: 5px !important;
}

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}

.text_right {
    text-align: right !important;
}

.text_left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

sup {
    color: #eb7308;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

*:focus {
    box-shadow: none !important
}


/*===============================
=            navbar             =
===============================*/

.sidebar {
    width: 30%;
    height: 100%;
}

.sidebar_header img {
    width: 100%;
}

.navbar-nav .nav-item {
    width: 100%;
    border-bottom: 1px solid #000;
}

.navbar-nav .nav-item:first-child {
    border-top: 1px solid #000;
}

.navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px 15px !important;
    transition: all .3s;
}

.navbar-nav .nav-link svg {
    fill: #fff;
    float: left;
    transition: all .3s;
    width: 22px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #eb7308;
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover svg,
.navbar-nav .nav-link.active svg {
    fill: #eb7308;
}

.sidebar .sidebar_footer {
    width: 30%;
    padding: 15px;
    font-size: 0;
    text-align: center;
    background: #eb7308;
}

.sidebar_footer a {
    display: inline-block;
    width: 30px;
    height: 40px;
    padding: 5px 0;
    margin: 0 15px;
    text-align: center;
    font-size: 18px;
    fill: #fff;
    transition: cubic-bezier(1, 0, 0, 1);
}

.sidebar_footer a:hover {
    transform: scale(1.05);
}

.sidebar:hover .sidebar_footer {
    display: block;
}


/*===============================
=            header             =
===============================*/

.content {
    padding: 20px;
    width: 70%;
    float: left;
    background: #141414 !important;
}

.header {
    background: #242424;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    height: 250px;
    padding: 50px;
}

.content-inner {
    text-align: center;
}

.content-inner p {
    color: #eb7308;
    font-size: 18px;
}

.content-inner h1 {
    color: #fff;
}

.content-inner a {
    color: #bbb;
}

.large_btn {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.large_btn button {
    width: 50%;
    font-size: 30px;
    background: #191919;
    color: #e1e1e1;
    fill: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0;
}

.large_btn button svg {
    width: 30px;
    margin-right: 15px;
}

.large_btn button:first-child {
    background: #eb7308;
    color: #242424;
    fill: #242424;
}

footer {
    height: 500px;
    background: #34495e;
}


/*===============================
=            about              =
===============================*/

.about {
    background: #242424;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
}

.head_title {
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 2px solid #eb7308;
    margin-bottom: 40px;
}

.disc {
    color: #fff;
    padding: 0 20px 20px 20px;
    text-align: left;
    direction: ltr;
}

.disc img {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;
}

.disc button {
    color: #e1e1e1;
    fill: #e1e1e1;
    display: block;
    margin: auto;
}

strong {
    color: #eb7308;
}


/*===============================
=            skills             =
===============================*/

.skills {
    margin-left: 20px;
    color: #e1e1e1;
    direction: ltr;
    padding: 20px;
}

.ProgWidth {
    padding: 0px 20px;
    margin-bottom: 10px;
}

.skillDiv {
    height: 10px;
    width: 100%;
    background-color: #141414;
}

.skillBar {
    display: block;
    height: 10px;
    background-color: #eb7308;
}

.p {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.htmlBar {
    width: 70%;
    animation: html 3s 1s forwards;
}

.cssBar {
    width: 70%;
    animation: css 3s 1s forwards;
}

.jsBar {
    width: 75%;
    animation: js 3s 1s forwards;
}

.javaBar {
    width: 85%;
    animation: java 3s 1s forwards;
}

.ccpBar {
    width: 80%;
    animation: ccp 3s 1s forwards;
}

.reactBar {
    width: 10%;
    animation: react 3s 1s forwards;
}

.nodeBar {
    width: 35%;
    animation: node 3s 1s forwards;
}

.sqlBar {
    width: 85%;
    animation: sql 3s 1s forwards;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes ccp {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes node {
    0% {
        width: 0%;
    }
    100% {
        width: 35%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}


/*===============================
=         experience            =
===============================*/

.experience {
    background: #242424;
    border-radius: 10px;
    margin-bottom: 40px;
}

.experience .container {
    padding: 0 20px;
}

.main-timeline {
    position: relative;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.timeline {
    width: 50%;
    margin: 0 10px 20px 0;
    float: left;
}

.timeline-content {
    background: #eb7308;
    padding: 30px 85px 30px 30px;
    border-radius: 0 40px;
    display: block;
    position: relative;
    z-index: 1;
}

.timeline-content:hover {
    text-decoration: none;
}

.timeline-content:before,
.timeline-content:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0 40px;
    position: absolute;
    left: 0;
    right: 55px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.timeline-content:after {
    background: #191919;
    box-shadow: -10px -10px 0 rgba(0, 0, 0, 0.1) inset;
    left: 10px;
    top: 10px;
}

.timeline-year {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 25px;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    right: -9px;
    top: 50%;
}

.title {
    color: #eb7308;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.description {
    color: #e1e1e1;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
}

.timeline:nth-child(even) {
    float: right;
    margin: 0 0 20px 10px;
}

.timeline:nth-child(even) .timeline-content {
    padding: 30px 35px 30px 85px;
}

.timeline:nth-child(even) .timeline-content:before,
.timeline:nth-child(even) .timeline-content:after {
    left: 55px;
    right: 0;
}

.timeline:nth-child(even) .timeline-content:after {
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1) inset;
    top: 0;
    bottom: 10px;
    left: 55px;
    right: 10px;
}

.timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -16px;
}


/*===============================
=            service            =
===============================*/

.service {
    background: #242424;
    border-radius: 10px;
    margin-bottom: 40px;
}

.service .container {
    padding: 10px 20px;
}

.serviceBox {
    background: #191919;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0 15px 25px;
    margin-bottom: 40px;
    border: 2px solid #eb7308;
    border-radius: 50px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
    position: relative;
    transition: all 0.3s ease 0s;
}

.serviceBox:before,
.serviceBox:after {
    content: "";
    width: 25px;
    height: 25px;
    border-top: 7px solid #e68531;
    border-right: 7px solid #eb7308;
    position: absolute;
    top: -7px;
    right: -7px;
}

.serviceBox:after {
    border-top: none;
    border-right: none;
    border-bottom: 7px solid #eb7308;
    border-left: 7px solid #e68531;
    top: auto;
    right: auto;
    bottom: -7px;
    left: -7px;
}

.serviceBox .service-icon {
    color: #fff;
    background: #e68531;
    font-size: 35px;
    width: 90px;
    padding: 0 0 5px;
    margin: 0 auto 30px;
    border-radius: 0 0 15px 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}

.serviceBox:hover .service-icon svg {
    transform: rotateX(360deg);
    transition: all 0.3s;
}

.serviceBox .service-icon:before {
    content: "";
    background: #e68531;
    width: calc(100% + 14px);
    height: 10px;
    transform: translateX(-50%);
    position: absolute;
    top: -10px;
    left: 50%;
}

.serviceBox .service-icon span:before,
.serviceBox .service-icon span:after {
    content: '';
    background-color: #eb7308;
    height: 10px;
    width: 15px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: -15px;
    top: -10px;
}

.serviceBox .service-icon span:after {
    left: auto;
    right: -15px;
}

.serviceBox .title {
    color: #eb7308;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.serviceBox .description {
    font-size: 15px;
    line-height: 25px;
    color: #e1e1e1;
}


/*===============================
=           Portfolio           =
===============================*/

.Portfolio {
    background: #242424;
    margin-bottom: 40px;
    border-radius: 10px;
}

.photoDiv {
    float: left;
    width: 100%;
    line-height: 100px;
    margin-bottom: 20px;
    display: none;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}


/* Style the buttons */

.tab_btn {
    display: flex;
    justify-content: space-evenly;
}

.tab_btn .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #eb7308;
}

.tab_btn .btn.active {
    background-color: #191919;
    border: 1px solid #eb7308;
    color: #fff;
}

.box {
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.box:before,
.box:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.box:after {
    background: #eb7308;
    opacity: 1;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
    transition: transform 0.6s ease 0s;
}

.box:hover:before {
    opacity: 1;
}

.box:hover:after {
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
}

.box img {
    width: 100%;
    height: auto;
}

.box .box-content {
    width: 100%;
    height: 100%;
    padding-top: 27%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.box:hover .box-content {
    opacity: 1;
}

.box .title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.box .post {
    display: block;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

.box .icon {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.box .icon li {
    display: inline-block;
}

.box .icon li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 18px;
    color: #000;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}

.box .icon li a:hover {
    border-radius: 50%;
}


/*===============================
=             content           =
===============================*/

.contact {
    background: #242424;
    margin-bottom: 40px;
    border-radius: 10px;
    color: #e1e1e1;
}

.contact_info {
    padding-left: 40px;
    margin: 0 0 20px 0 !important;
}

.contact_info .icon {
    background: #eb7308;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.contact_info .icon svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.contact_info .text {
    font-size: 14px;
    color: #fff;
}

.contact_info .text a {
    color: #fff;
}

.contact_form {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    direction: ltr;
}

.contact2-form {
    width: 100%;
    margin-bottom: 20px;
}

.wrap-input2 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 37px;
}

.input2 {
    display: block;
    width: 100%;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    background: #242424;
    outline: none;
    border: none;
}

.focus-input2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input2::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #eb7308;
}

.focus-input2::after {
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input.input2 {
    height: 45px;
}

input.input2+.focus-input2::after {
    top: 16px;
    left: 0;
}

textarea.input2 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
}

textarea.input2+.focus-input2::after {
    top: 16px;
    left: 0;
}

.input2:focus+.focus-input2::after {
    top: -13px;
}

.input2:focus+.focus-input2::before {
    width: 100%;
}

.has-val.input2+.focus-input2::after {
    top: -13px;
}

.has-val.input2+.focus-input2::before {
    width: 100%;
}

.container-contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-contact2-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.contact2-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #eb7308;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    background: #eb7308;
    color: #141414;
    border: none;
    line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
    left: 0;
}

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}


/*------------ media_screen ---------------*/

@media only screen and (max-width: 250px) {}

@media (min-width: 320px) and (max-width: 350px) {}

@media (min-width: 350px) and (max-width: 375px) {}

@media only screen and (max-width: 480px) {}

@media (min-width: 400px) and (max-width: 536px) {}

@media only screen and (max-width: 300px) and (min-width: 250px) {}

@media only screen and (max-width: 350px) and (min-width: 300px) {}

@media only screen and (max-width: 400px) and (min-width: 350px) {}

@media only screen and (max-width: 450px) and (min-width: 400px) {}

@media only screen and (max-width: 500px) and (min-width: 450px) {}

@media only screen and (max-width: 550px) and (min-width: 500px) {}

@media only screen and (max-width: 600px) and (min-width: 550px) {}

@media only screen and (max-width: 650px) and (min-width: 600px) {}


/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {}

@media (max-width: 600px) {}

@media screen and (max-width:576px) {
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        text-align: center;
        padding: 75px 30px 30px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        top: 50px;
        right: 0;
        left: 0;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        box-shadow: -10px -10px 0 rgba(0, 0, 0, 0.1) inset;
        top: 60px;
        right: 0;
        left: 10px;
        bottom: 0;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year {
        transform: translateX(-50%) translateY(0) rotate(0);
        top: 12px;
        right: auto;
        left: 50%;
    }
    .main-timeline .title {
        font-size: 20px;
    }
    .wrap-contact2 {
        padding: 72px 15px 90px 15px;
    }
}

@media (max-width: 600px) {}


/* sm */

@media (min-width: 768px) {}

@media screen and (max-width:767px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        margin: 0 0 20px 0;
    }
}


/* md */

@media (min-width: 992px) {}

@media (max-width: 992px) {
    .serviceBox {
        margin: 10px 10px 50px;
    }
    .box {
        margin-bottom: 30px;
    }
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/* lg */

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}

@media (min-width: 1320px) {}